@charset "utf-8";

body {
    font-family: serif;
}

html {
    font-size: 10px;
}

/* ヘッダーここから */
header {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: black;
    box-shadow: 0 1px 2px black;
}

.header-inner {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-box {
    width: 125px;
    display: block;
}

img {
    max-width: 100%;
}

.site-menu ul {
    display: flex;
}

.site-menu li {
    position: relative;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
}

.site-menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: calc(100% + 12px);
    height: 2px;
    background-color: white;
    clip-path: inset(0 100%);
    transition: all 0.3s;
}

.site-menu .li-hover::after {
    clip-path: inset(0 0);
}

.site-menu li:nth-child(1) {
    margin-left: 0;
}

.humberger-menu-content {
    display: none;
}

.humberger-menu-icon {
    display: none;
}
/* ヘッダーここまで */

/* メインここから */
main {
    padding-top: 90px;
}

.first-view.fixed-page {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: black;
    font-size: 40px;
    color: black;
    text-shadow: 0 0 2px white;
    box-shadow: 0 2px 3px black;
}

.first-view-category-title {
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    text-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 1px 0 white,
        -1px 0 0 white, -1px -1px 0 white, 0 -1px 0 white, 1px -1px 0 white;
}
/* メインここまで */

/* フッターここから */
footer {
    margin-top: 50px;
    padding: 30px 50px 20px 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .site-menu li::after {
    background-color: white;
}

.contact-icon {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.contact-icon img {
    width: 20px;
}

.contact-mail {
    display: flex;
    margin: 10px 0;
}

.contact-mail img {
    width: 20px;
}

.contact-mail p {
    margin-left: 20px;
}

.footer-logo {
    margin: 30px 0;
    width: 130px;
}
/* フッターここまで */

/* レスポンシブここから */
@media (max-width: 800px) {
    header {
        height: 50px;
    }

    .header-inner {
        height: 50px;
        padding: 0 5px;
        position: fixed;
        box-shadow: 0 1px 2px black;
    }

    .header-logo-box {
        width: 80px;
        padding-top: 5px;
    }

    .site-menu {
        display: none;
    }

    .humberger-menu-icon {
        z-index: 2;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px 0;
    }

    .humberger-menu-icon:hover {
        cursor: pointer;
    }

    .humberger-menu-icon span {
        display: block;
        width: 80%;
        height: 2px;
        border-radius: 20%;
        background: white;
        transform-origin: 0 50%;
        transition: all 0.2s ease-in-out;
    }

    .humberger-menu-icon.active span:nth-child(1) {
        transform: rotate(27deg);
    }

    .humberger-menu-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .humberger-menu-icon.active span:nth-child(3) {
        transform: rotate(-27deg);
    }

    .humberger-menu-content {
        z-index: 1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 50px;
        width: 100%;
        text-align: center;
        clip-path: inset(0 0 100% 0);
        transition: all 0.5s ease-in-out;
    }

    .humberger-menu-content.active {
        clip-path: inset(0);
    }

    .humberger-menu-content li {
        padding: 5px;
        font-size: 11px;
        font-weight: bold;
        height: 30px;
        color: white;
        background-color: black;
        border-bottom: 1px solid white;
    }

    .humberger-menu-content li a {
        line-height: 20px;
    }

    main {
        padding-top: 50px;
        z-index: 1;
    }

    .first-view.fixed-page {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-view-category-title {
        top: auto;
        right: auto;
        transform: none;
    }
}
/* レスポンシブここまで */
