@charset "utf-8";

/* loadingアニメーションここから */
.bg-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/index/loading-animation-bg.png");
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}

.catch-copy-animation {
    position: absolute;
    left: 50%;
    top: calc(50% + 20px);
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black;
}

.catch-copy-animation h1 {
    display: flex;
    justify-content: center;
}

.catch-copy-animation h1 > span {
    position: relative;
    top: 0;
    left: 0;
    visibility: hidden;
    font-size: 40px;
}

.typing-line {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 50%;
    background-color: white;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
    right: -5px;
    color: black;
    visibility: hidden;
}

.catch-copy-animation h1 > span.appear, .typing-line.appear {
    visibility: visible;
}
/* loadingアニメーションここまで */






/* ファーストビューここから */
.first-view {
    height: calc(100vh - 90px);
    background-image: url("../img/index/index-firstview.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.first-view-text {
    color: white;
    text-align: center;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black;
}

.first-view-text h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.first-view-text p {
    font-size: 15px;
}
/* ファーストビューここまで */






/* 各セクションここから */
body {
    background-color: black;
}

.main-section-cover {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,14,255,0.16290266106442575) 100%);
}

.main-section-cover.reverse {
    background: linear-gradient(90deg, rgba(0,14,255,0.16290266106442575) 0%, rgba(0,0,0,1) 100%);
}

.main-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    max-width: 1200px;
    padding: 20px 5%;
    width: 90%;
}

.main-section:not(.works) {
    color: white;
}

.section-title::after {
    content: attr(data-section-title-en);
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 10;
}

.section-title::before {
    content: "";
    position: relative;
    top: 33px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    display: block;
    background-color: black;
}

.main-section:not(.works) .section-title::before {
    background-color: white;
}

.main-section-content {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.main-section-content p {
    text-align: left;
    width: 50%;
    line-height: 1.5;
    font-size: 1.2rem;
}

.main-section:not(.works) .main-section-content p {
    opacity: 0;
    transition: all 0.8s 0.5s ease-in-out;
}

.profile .main-section-content p {
    transform: translate(30px);
}

.profile .main-section-content p.active {
    transform: none;
    opacity: 1;
}

.concept .main-section-content p {
    transform: translateX(-30px);
}

.concept .main-section-content p.active {
    opacity: 1;
    transform: none;
}


.img-area {
    width: 50%;
}

.img-area .img-circle {
    position: relative;
    left: 60%;
    width: 250px;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.profile .img-area .img-circle {
    transform: translateX(calc(-50% + 30px));
}

.concept .img-area .img-circle {
    transform: translateX(calc(-50% - 30px));
}

.img-area .img-circle.active {
    opacity: 1;
    transform: translateX(-50%);
}

.concept .img-area .img-circle {
    left: 40%;
}

.img-circle img {
    border-radius: 50%;
}

.main-section-content.flex-reverse {
    flex-flow: row-reverse;
}

.works {
    background-color: #dadada;
    width: 100%;
    padding: 50px;
    box-shadow: 0 0 3px white;
}

.works-list {
    display: flex;
    justify-content: space-around;
}

.works-list li {
    position: relative;
    width: 350px;
    color: white;
    overflow: hidden;
    user-select: none;
}

.works-list .img-area {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 0 2px black;
}

.works-list .img-area::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.works-list li:hover > .img-area::after {
    background-color: rgba(0,0,0,0.55);
}

.works-list .text-area {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.works-list .text-area dl {
    transform: translateX(100px);
    opacity: 0;
    transition: all 0.5s;
    position: relative;
    top: 10px;
}

.works-list li:hover .text-area dl {
    transform: none;
    opacity: 1;
}

.works-list .work-subtitle {
    text-align: center;
    width: 100%;
}

.works-list .work-title {
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

.works-list .short-description {
    z-index: 2;
    width: 100%;
    padding: 0 20px;
    height: 64px;
    line-height: 1.5;
    text-align: center;
    font-size: 1.4rem;
    transform: translateX(100px);
    opacity: 0;
    transition: all 0.5s 0.3s;
}

.works-list li:hover p.short-description {
    transform: none;
    opacity: 1;
}

.more-button-area {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    text-align: center;
}

.more-button-area .buttons {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.more-button-area a {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    padding: 5px 30px;
    border: 3px solid #3EB863;
    color: #3EB863;
    border-radius: 40px;
    clip-path: inset(0);
    transition: all 0.5s ease-in-out;
}

.more-button-area a:nth-child(2) {
    border: 3px solid #3EB863;
    color: white;
    background-color: #3EB863;
    clip-path: inset(0 100% 0 0);
}

.more-button-area .buttons:hover a:nth-child(1) {
    clip-path: inset(0 0 0 100%);
}

.more-button-area .buttons:hover a:nth-child(2) {
    clip-path: inset(0);
}
/* 各セクションここまで */






/* レスポンシブここから */
@media (max-width: 800px) {

    /* ファーストビューここから */
    .first-view-text h1 {
        font-size: 23px;
    }

    .catch-copy-animation {
        top: calc(50% - 10px);
    }

    .catch-copy-animation h1 span {
        font-size: 23px;
    }

    .first-view-text p {
        font-size: 11px;
    }
    /* ファーストビューここまで */

    /* 各セクションここから */
    .section-title {
        font-size: 20px;
    }

    .section-title::before {
        width: 50px;
        height: 2px;
        top: 31px;
    }

    .section-title::after {
        font-size: 12px;
    }

    .main-section-content:not(.works-list) {
        flex-direction: column;
        flex-flow: column-reverse;
        gap: 20px;
    }

    .main-section-content p {
        width: 100%;
        font-size: 1.4rem;
    }

    .main-section-content.flex-reverse {
        flex-flow: column-reverse;
    }

    .main-section .img-area .img-circle {
        left: 50%;
    }

    .works-list {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .works-list li {
        width: 100%;
    }

    .works-list .img-area::after {
        background-color: rgba(0,0,0,0.55);
    }

    .works-list .text-area dl, .works-list .short-description {
        transform: none;
        opacity: 1;
    }

    .works-list .text-area .work-subtitle {
        font-size: 1.2rem;
    }

    .works-list .text-area .work-title {
        font-size: 1.8rem;
    }

    .works-list .text-area .short-description {
        font-size: 1rem;
    }
    /* 各セクションここまで */

}
/* レスポンシブここまで */
