@charset "utf-8";






/* ファーストビューここから */
.first-view {
    height: calc(100vh - 90px);
    background-image: url("../img/index/index-firstview.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.first-view-text {
    color: white;
    text-align: center;
    margin: 0 auto;
}

.first-view-text h1 {
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
}

.first-view-text p {
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
}
/* ファーストビューここから */






/* 各セクションここから */
body {
    background-color: black;
}

.main-section-cover {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,14,255,0.16290266106442575) 100%);
}

.main-section-cover.reverse {
    background: linear-gradient(90deg, rgba(0,14,255,0.16290266106442575) 0%, rgba(0,0,0,1) 100%);
}

.main-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    max-width: 1200px;
    padding: 20px 5%;
    width: 90%;
}

.main-section:not(.works) {
    color: white;
}

.section-title::after {
    content: attr(data-section-title-en);
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 10;
}

.section-title::before {
    content: "";
    position: relative;
    top: 33px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    display: block;
    background-color: black;
}

.main-section:not(.works) .section-title::before {
    background-color: white;
}

.main-section-content {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.main-section-content p {
    text-align: left;
    width: 50%;
    line-height: 1.5;
    font-size: 1.2rem;
}

.img-area {
    width: 50%;
}

.img-area .img-circle {
    position: relative;
    left: 60%;
    transform: translateX(-50%);
    width: 250px;
}

.concept .img-area .img-circle {
    left: 40%;
}

.img-circle img {
    border-radius: 50%;
}

.main-section-content.flex-reverse {
    flex-flow: row-reverse;
}

.works {
    background-color: #e8e8e8;
    width: 100%;
    padding: 20px 5%;
}

.works-list {
    display: flex;
    overflow-x: scroll;
    padding-left: calc(50% - 150px);
}

.works-list a {
    margin-left: 50px;
}

.works-list a:first-child {
    margin-left: 0;
}

.works-list li {
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    box-shadow: 1px 1px 5px 0 black;
}

.works-list li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.works-list li .work-subtitle {
    text-align: center;
    width: 100%;
}

.works-list li .work-title {
    text-align: center;
    margin-top: 5px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

.works-list img {
    margin-top: 20px;
    width: 280px;
    height: 157.5px;
}

.works-list p.short-description {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: 64px;
    display: block;
    line-height: 1.5;
    text-align: center;
    font-size: 1.4rem;
    color: rgb(82, 82, 82);
}
/* 各セクションここまで */






/* レスポンシブここから */
@media (max-width: 800px) {

    /* ファーストビューここから */
    .first-view-text h1 {
        font-size: 23px;
    }

    .first-view-text p {
        font-size: 11px;
    }
    /* ファーストビューここまで */

    /* 各セクションここから */
    .section-title {
        font-size: 20px;
    }

    .section-title::before {
        width: 50px;
        height: 2px;
        top: 31px;
    }

    .section-title::after {
        font-size: 12px;
    }

    .main-section-content {
        flex-direction: column;
        flex-flow: column-reverse;
        gap: 20px;
    }

    .main-section-content p {
        width: 100%;
        font-size: 1.4rem;
    }

    .main-section-content.flex-reverse {
        flex-flow: column-reverse;
    }

    .main-section .img-area .img-circle {
        left: 50%;
    }

    .works-list {
        flex-direction: row;
        flex-flow: row;
        padding-left: calc(50% - 105px);
    }

    .works-list a {
        display: block;
        margin-left: 22px;
    }

    .works-list li img {
        width: 190px;
        height: 106.88px;
    }

    .works-list li {
        top: 0;
        left: 0;
        width: 210px;
    }

    .works-list li .work-subtitle {
        font-size: 1.2rem;
    }

    .works-list li .work-title {
        font-size: 18px;
    }

    .works-list p.short-description {
        font-size: 10px;
    }

    .contact-content {
        flex-flow: column;
    }

    .icon-area a {
        width: 60px;
        height: 60px;
    }

    .icon-area a::after {
        font-size: 10px;
        width: 100%;
        left: 0;
        text-align: center;
        transform: scale(0.9);
    }
    /* 各セクションここまで */

}
/* レスポンシブここまで */
